.container {
    padding-top: 25px;
}

.slide {
    margin-top: 50px;
}

.upper-slide {
    background-color: #F0FFF0;
}

.upper {
    font-family: 'Poppins';
}

.sign-in {
    background-color: #21B573;
    border-radius: 50px;
    padding: 5px 20px;
    margin-left: 25px;
    border: none;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}

.get-started {
    background-color: #21B573;
    border-radius: 50px;
    padding: 5px 20px;
    border: none;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}

.logo {
    width: 30%;
}

.cover {
    width: 100%;
}

.left-part {
    margin-top: 50px;
}

.card {
    box-shadow: 10px 10px 10px lightgray;
    background-color: #F0FFF0;
    
}

.feature{
	width: 100%;
    padding: 35px 0px;
}
.inner-feature{
	background: #F0FFF0;
    width: 100%;
    text-align: center;
    padding: 40px;
}
.inner-feature img{
	width: 68px;
	height: 87px;
    margin: 0px 0px 20px;
}
.inner-feature:hover{
    background-color: white;
    box-shadow: 10px 10px 10px lightgray;
}
.course-container img{
    padding: 20px;
}
.course-container .card{
    border-radius: 10px;
}
.sm-img{
    width: 70px;
	margin: -5px;
}
.desc{
    font-size: small;
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
}
.man-img{
    width: 50%;
}
.testimonial{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 50px;
}
.footer-low{
    margin-top: 10px;
    background-color: #282531;
}
.lower-part{
    color: white;
}
li{
    margin: 6px;
}
.card-text{
    font-family: 'Poppins', sans-serif;
}